<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.pawelgrzybek.theme</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>171FEB78-617C-45D7-B586-230AE16BFD0D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39EF7261-B642-4E18-AB12-FF0765C1DFCE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>39EF7261-B642-4E18-AB12-FF0765C1DFCE</key>
		<array/>
		<key>910C24FD-1D02-42A4-8FF0-C464E0CF60D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39EF7261-B642-4E18-AB12-FF0765C1DFCE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Pawel Grzybek</string>
	<key>description</key>
	<string>Toggle between light and dark themes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Theme</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>theme</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle betwwn light/dark mode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>910C24FD-1D02-42A4-8FF0-C464E0CF60D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script()
	tell application "System Events" to tell appearance preferences to set dark mode to not dark mode
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>39EF7261-B642-4E18-AB12-FF0765C1DFCE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>171FEB78-617C-45D7-B586-230AE16BFD0D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>171FEB78-617C-45D7-B586-230AE16BFD0D</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>39EF7261-B642-4E18-AB12-FF0765C1DFCE</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>910C24FD-1D02-42A4-8FF0-C464E0CF60D7</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://pawelgrzybek.com</string>
</dict>
</plist>
